html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
.validation-list {
  list-style: none;
}
.validation-link {
  display: block;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 0.875rem;
  width: 250px;
  height: 37px;  
  text-decoration: none;
  padding: 8px 8px 8px 36px;
  margin-bottom: 16px;
  color: black; 
  background: url(./images/validation_icon\ 2.png) no-repeat 16px 50%, 
              url(./images/validation_icon\ 2.png) no-repeat 16px 50%;
  border-radius: 34px;
  background-color: #CCCCCC;
}