body {
  margin: 50px;
}

.news {
  width: 400px;
  position: relative;

}
.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 10px;
}

.news-title {
  font-size: 18px;
  margin: 0;
}

.accent-color {
  color: orangered;
}

.news-more {
  position: absolute;
  top: 0;
  right: 0;
  color: inherit;
  text-decoration: none;
}

.news-item {
  margin-top: 35px;
  display: grid;
  /* 전체 너비에서 115px를 제외한 나머지 영역이 1fr로 적용 */
  grid-template-columns: 115px 1fr;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas: 
  "thumbnail title"
  "thumbnail date"
  "thumbnail summary";
}

.news-item-title {
  grid-area: title;
}
.news-item-date {
  grid-area: date;
}
.news-item-summary {
  margin: 0;
  grid-area: summary;
}
.news-item-thumbnail {
  grid-area: thumbnail;
  margin: 0;
}
